:host {
  display: flex;
}

.reg-card {
  width: 50vw;
  height: 100vh;
  background-color: white;
  padding: 120px 80px 60px 80px;
  box-sizing: border-box;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  gap: 5px;
  width: fit-content;
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.form-card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
}

div label{
  display: inline-block;
  margin-bottom: 15px;
}
a {
  text-decoration: none;
}

.names {
  display: flex;
  justify-content: space-between; /* Adjust spacing as needed */
  
}

.nameInput {
  height: 50px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.input {
  height: 50px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.btn{
  display: inline-block;
  height: 50px;
  width: 100%;
  margin-top: 5px;
  font-size: 20px;
}

.right-cont{
  padding: 20px 80px 0 80px;
}

.right-cont > mat-label, .right-cont > a {
  font-size: 22px;
}