:host {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.container {
    text-align: center;
    padding: 50px;
    background-color: #f8f8f8;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .highlight {
    color: #6c4eff;
  }
  
  .description {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
    line-height: 1.5;
  }