  <div class="container">
    <div class="welcome-message">
        <h1>Hi {{this.email}}</h1>
        <h2>Welcome to Asmadiya Technologies</h2>
      </div>
      
    <h1>
      We deliver <span class="highlight">Excellence</span><br />
      with <span class="highlight">Future Tech</span>
    </h1>
    <p class="description">
      We brainstorm, conceptualize, design, program, and develop arguably the best product to fulfill your business’ software requirements.
    </p>
<button mat-raised-button color="primary" style="background-color: #4db983;" (click)="logout()">Log Out</button>