:host{
  display: flex;
}

.reset-card {
  width: 50vw;
  height: 100vh;
  background-color: white;
  padding: 120px 80px 60px 80px;
  box-sizing: border-box;
}

.form-card{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
}

div label{
  display: inline-block;
  margin-bottom: 15px;
}

a{
  text-decoration: none;
}

.input {
  height: 50px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.btn{
  display: inline-block;
  height: 50px;
  width: 100%;
  margin-top: 5px;
  font-size: 20px;
}