<mat-card class="reset-card">
  <mat-card-header>
    <mat-card-title style="color: #4db983; padding-left: 0px; font-size: 28px;">Reset Password</mat-card-title>
  </mat-card-header>
    <br>
<form class="form-card">
  <!-- <mat-form-field>
    <mat-label>New Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="this.password" placeholder="Enter your password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="this.cpassword" placeholder="Enter your password">
  </mat-form-field> -->
  <div>
    <label for="email">Enter Your Registered Email</label>
    <input type="remail" name="remail" id="remail" [(ngModel)]="this.remail" class="input">
  </div>
  <button mat-raised-button color="primary" style="background-color: #4db983;" (click)="resetpassword()" class="btn">Send Password Reset Link to Email</button>
</form>