<div class="left-card">
    <div class="goback" (click)="routeback()">
        <mat-icon style="border: 1px solid grey; border-radius: 50%;" >arrow_back</mat-icon> &nbsp; Go Back
    </div>
    <div class="container">
        <img src="../assets/login-cover.svg" alt="Login Cover" height="400" width="600">
        <p class="centered-text" >Train And Analyze Models Performance For Your <br> Next Project</p>
    </div>
    <img src="../assets/logo.png" alt="Logo" class="logo">
</div>
<router-outlet></router-outlet>